<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>InsertRequest</servlet-name>
        <servlet-class>servlet.InsertRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequest</servlet-name>
        <servlet-class>servlet.ApproveRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>servlet.AddMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestServlet</servlet-name>
        <servlet-class>servlet.ViewRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMemberServlet</servlet-name>
        <servlet-class>servlet.EditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMember</servlet-name>
        <servlet-class>servlet.deleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>members</servlet-name>
        <servlet-class>servlet.members</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMember</servlet-name>
        <servlet-class>servlet.EditMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMember</servlet-name>
        <servlet-class>servlet.UpdateMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContribution</servlet-name>
        <servlet-class>servlet.AddContribution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listContribution</servlet-name>
        <servlet-class>servlet.listContribution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContribution</servlet-name>
        <servlet-class>servlet.UpdateContribution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContribution</servlet-name>
        <servlet-class>servlet.DeleteContribution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertWithdraw</servlet-name>
        <servlet-class>servlet.InsertWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWithdraw</servlet-name>
        <servlet-class>servlet.UpdateWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWithdraw</servlet-name>
        <servlet-class>servlet.DeleteWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectWithdraw</servlet-name>
        <servlet-class>servlet.SelectWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLoan</servlet-name>
        <servlet-class>servlet.InsertLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLoan</servlet-name>
        <servlet-class>servlet.UpdateLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLoan</servlet-name>
        <servlet-class>servlet.DeleteLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListContributions</servlet-name>
        <servlet-class>servlet.ListContributions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataServlet</servlet-name>
        <servlet-class>servlet.UserDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContributionIndividual</servlet-name>
        <servlet-class>servlet.AddContributionIndividual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateContriIndiv</servlet-name>
        <servlet-class>servlet.updateContriIndiv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIndivWith</servlet-name>
        <servlet-class>servlet.insertIndivWith</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDashboardServlet</servlet-name>
        <servlet-class>servlet.MemberDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertLoanIndiv</servlet-name>
        <servlet-class>servlet.insertLoanIndiv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWithdrawIndiv</servlet-name>
        <servlet-class>servlet.UpdateWithdrawIndiv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveWithdraw</servlet-name>
        <servlet-class>servlet.ApproveWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisApproveWithdraw</servlet-name>
        <servlet-class>servlet.DisApproveWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContributionIndividualNormal</servlet-name>
        <servlet-class>servlet.AddContributionIndividualNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIndivWithNormal</servlet-name>
        <servlet-class>servlet.insertIndivWithNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMemberNormal</servlet-name>
        <servlet-class>servlet.deleteMemberNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberNormal</servlet-name>
        <servlet-class>servlet.UpdateMemberNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberPres</servlet-name>
        <servlet-class>servlet.UpdateMemberPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMemberPres</servlet-name>
        <servlet-class>servlet.deleteMemberPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContributionIndividualPres</servlet-name>
        <servlet-class>servlet.AddContributionIndividualPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateContriIndivPres</servlet-name>
        <servlet-class>servlet.updateContriIndivPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIndivWithPres</servlet-name>
        <servlet-class>servlet.insertIndivWithPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertLoanIndivPres</servlet-name>
        <servlet-class>servlet.insertLoanIndivPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContributionIndividualCred</servlet-name>
        <servlet-class>servlet.AddContributionIndividualCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateContriIndivCred</servlet-name>
        <servlet-class>servlet.updateContriIndivCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIndivWithCred</servlet-name>
        <servlet-class>servlet.insertIndivWithCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertLoanIndivCred</servlet-name>
        <servlet-class>servlet.insertLoanIndivCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberCred</servlet-name>
        <servlet-class>servlet.UpdateMemberCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMemberCred</servlet-name>
        <servlet-class>servlet.deleteMemberCred</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContributionIndividualvice</servlet-name>
        <servlet-class>servlet.AddContributionIndividualvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateContriIndivvice</servlet-name>
        <servlet-class>servlet.updateContriIndivvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertIndivWithvice</servlet-name>
        <servlet-class>servlet.insertIndivWithvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertLoanIndivvice</servlet-name>
        <servlet-class>servlet.insertLoanIndivvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequestvice</servlet-name>
        <servlet-class>servlet.ApproveRequestvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMembervice</servlet-name>
        <servlet-class>servlet.AddMembervice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveWithdrawvice</servlet-name>
        <servlet-class>servlet.ApproveWithdrawvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisApproveWithdrawvice</servlet-name>
        <servlet-class>servlet.DisApproveWithdrawvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMembervice</servlet-name>
        <servlet-class>servlet.UpdateMembervice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMembervice</servlet-name>
        <servlet-class>servlet.deleteMembervice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRequestPres</servlet-name>
        <servlet-class>servlet.ApproveRequestPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberPres</servlet-name>
        <servlet-class>servlet.AddMemberPres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLoanvice</servlet-name>
        <servlet-class>servlet.ApproveLoanvice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContributionsuper</servlet-name>
        <servlet-class>servlet.UpdateContributionsuper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContributionsuper</servlet-name>
        <servlet-class>servlet.DeleteContributionsuper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLoanServlet</servlet-name>
        <servlet-class>servlet.ApproveLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanApprove</servlet-name>
        <servlet-class>servlet.LoanApprove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertRequest</servlet-name>
        <url-pattern>/InsertRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequest</servlet-name>
        <url-pattern>/ApproveRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/AddMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestServlet</servlet-name>
        <url-pattern>/ViewRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMemberServlet</servlet-name>
        <url-pattern>/EditMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMember</servlet-name>
        <url-pattern>/deleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>members</servlet-name>
        <url-pattern>/members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMember</servlet-name>
        <url-pattern>/EditMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMember</servlet-name>
        <url-pattern>/UpdateMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContribution</servlet-name>
        <url-pattern>/AddContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listContribution</servlet-name>
        <url-pattern>/listContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContribution</servlet-name>
        <url-pattern>/UpdateContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContribution</servlet-name>
        <url-pattern>/DeleteContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertWithdraw</servlet-name>
        <url-pattern>/InsertWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWithdraw</servlet-name>
        <url-pattern>/UpdateWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWithdraw</servlet-name>
        <url-pattern>/DeleteWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectWithdraw</servlet-name>
        <url-pattern>/SelectWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLoan</servlet-name>
        <url-pattern>/InsertLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLoan</servlet-name>
        <url-pattern>/UpdateLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLoan</servlet-name>
        <url-pattern>/DeleteLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListContributions</servlet-name>
        <url-pattern>/ListContributions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataServlet</servlet-name>
        <url-pattern>/UserDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContributionIndividual</servlet-name>
        <url-pattern>/AddContributionIndividual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateContriIndiv</servlet-name>
        <url-pattern>/updateContriIndiv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIndivWith</servlet-name>
        <url-pattern>/insertIndivWith</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDashboardServlet</servlet-name>
        <url-pattern>/MemberDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertLoanIndiv</servlet-name>
        <url-pattern>/insertLoanIndiv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWithdrawIndiv</servlet-name>
        <url-pattern>/UpdateWithdrawIndiv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveWithdraw</servlet-name>
        <url-pattern>/ApproveWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisApproveWithdraw</servlet-name>
        <url-pattern>/DisApproveWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContributionIndividualNormal</servlet-name>
        <url-pattern>/AddContributionIndividualNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIndivWithNormal</servlet-name>
        <url-pattern>/insertIndivWithNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMemberNormal</servlet-name>
        <url-pattern>/deleteMemberNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberNormal</servlet-name>
        <url-pattern>/UpdateMemberNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberPres</servlet-name>
        <url-pattern>/UpdateMemberPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMemberPres</servlet-name>
        <url-pattern>/deleteMemberPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContributionIndividualPres</servlet-name>
        <url-pattern>/AddContributionIndividualPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateContriIndivPres</servlet-name>
        <url-pattern>/updateContriIndivPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIndivWithPres</servlet-name>
        <url-pattern>/insertIndivWithPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertLoanIndivPres</servlet-name>
        <url-pattern>/insertLoanIndivPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContributionIndividualCred</servlet-name>
        <url-pattern>/AddContributionIndividualCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateContriIndivCred</servlet-name>
        <url-pattern>/updateContriIndivCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIndivWithCred</servlet-name>
        <url-pattern>/insertIndivWithCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertLoanIndivCred</servlet-name>
        <url-pattern>/insertLoanIndivCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberCred</servlet-name>
        <url-pattern>/UpdateMemberCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMemberCred</servlet-name>
        <url-pattern>/deleteMemberCred</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContributionIndividualvice</servlet-name>
        <url-pattern>/AddContributionIndividualvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateContriIndivvice</servlet-name>
        <url-pattern>/updateContriIndivvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertIndivWithvice</servlet-name>
        <url-pattern>/insertIndivWithvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertLoanIndivvice</servlet-name>
        <url-pattern>/insertLoanIndivvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequestvice</servlet-name>
        <url-pattern>/ApproveRequestvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMembervice</servlet-name>
        <url-pattern>/AddMembervice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveWithdrawvice</servlet-name>
        <url-pattern>/ApproveWithdrawvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisApproveWithdrawvice</servlet-name>
        <url-pattern>/DisApproveWithdrawvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMembervice</servlet-name>
        <url-pattern>/UpdateMembervice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMembervice</servlet-name>
        <url-pattern>/deleteMembervice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRequestPres</servlet-name>
        <url-pattern>/ApproveRequestPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberPres</servlet-name>
        <url-pattern>/AddMemberPres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLoanvice</servlet-name>
        <url-pattern>/ApproveLoanvice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContributionsuper</servlet-name>
        <url-pattern>/UpdateContributionsuper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContributionsuper</servlet-name>
        <url-pattern>/DeleteContributionsuper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLoanServlet</servlet-name>
        <url-pattern>/ApproveLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanApprove</servlet-name>
        <url-pattern>/LoanApprove</url-pattern>
    </servlet-mapping>
</web-app>
